html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input {
  font: inherit;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.show-block {
  display: block !important;
}

.hide-block {
  display: none !important;
}

.show-popup {
  visibility: visible !important;
  opacity: 1 !important;
}

.rotate {
  transform: rotate(180deg);
}

.body-scroll-fixed {
  overflow: hidden;
}

button {
  transition: opacity ease 0.5s;
}
button:hover {
  opacity: 0.5;
}

.header {
  background-color: #000;
}
.header__container {
  margin-top: 24px;
  padding: 12px 20px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}
.header__open-nav-btn {
  cursor: pointer;
}

.notice__wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(236, 101, 102);
  text-align: center;
}
.notice__text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, 0px 3px 5px #000, 0 -1px 1px #000;
}

.hot-offer {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #fff;
  background-color: #000;
}
.hot-offer__about-item {
  margin-right: 22px;
  margin-left: 22px;
  text-align: center;
}
.hot-offer__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hot-offer__description {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hot-offer__price {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.hot-offer__new-price {
  font-size: 43px;
  line-height: 54px;
  font-weight: 700;
}
.hot-offer__old-price {
  position: relative;
  font-size: 27px;
  line-height: 41px;
  font-weight: 500;
}
.hot-offer__old-price::before {
  content: "";
  width: 68px;
  height: 10px;
  position: absolute;
  left: 4px;
  top: 16px;
  background: url("../../images/icons/strikethrough.png") no-repeat;
  background-size: contain;
}
.hot-offer__product-image {
  margin-top: 51px;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}
.hot-offer__additional-info-wrapper {
  margin-top: 39px;
  display: flex;
  column-gap: 4px;
  justify-content: center;
}
.hot-offer__additional-info {
  padding: 4px 8px;
  border-radius: 4px;
  background: rgb(213, 213, 213);
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.hot-offer__express-shipping {
  width: 75px;
  height: 28px;
}
.hot-offer__review-stars {
  display: flex;
  column-gap: 1px;
}
.hot-offer__review-star {
  padding: 2.1px;
  height: 14px;
  width: 14px;
  object-position: 50% 50%;
  background-color: #00B67A;
}
.hot-offer__rate {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.hot-offer__rate_big-bold {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}
.hot-offer__rate_bold {
  font-weight: 700;
}

.trustpilot__description {
  margin-top: 3px;
  display: flex;
  column-gap: 2px;
  align-items: center;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
}
.trustpilot__description_bold {
  font-weight: 700;
}
.trustpilot__description img {
  width: 44px;
  height: 12px;
}

.rating {
  margin-top: 16px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
}
.rating__rate {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  column-gap: 9px;
}
.rating__stars {
  display: flex;
  column-gap: 4px;
}
.rating__star {
  background: url("../../images/icons/star-yellow.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 18px;
  height: 17px;
}
.rating__score {
  font-size: 16px;
  line-height: 24px;
}
.rating__reviews {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  column-gap: 9px;
  align-items: center;
}
.rating__reviews p {
  line-height: 24px;
}
.rating__reviews-btn {
  height: 19.5px;
  width: 19.5px;
  background: url("../../images/icons/arrow-bottom.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.item-card__container {
  padding: 24px 24px 0 24px;
}
.item-card__title {
  margin-top: 12px;
  color: rgb(31, 31, 31);
  font-weight: 600;
  line-height: 36px;
  font-size: 32px;
  text-align: left;
}
.item-card__items-left {
  margin-top: 20px;
}
.item-card__description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.items-left__amount {
  margin-bottom: 8px;
  color: #FF4053;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.items-left__range-wrapper {
  width: 100%;
  height: 8px;
  background-color: rgb(235, 234, 232);
  border-radius: 90px;
}
.items-left__range {
  height: 8px;
  background-color: #FF4053;
  border-radius: 90px;
}

.slider__wrapper {
  margin-bottom: 20px;
}
.slider__image {
  margin: 0 auto;
  display: block;
  width: 345px;
  text-align: center;
  max-width: 100%;
}

.order-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.8901960784);
  z-index: 5;
  transition: all linear 0.1s;
}
.order-popup__wrapper {
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 16px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid rgb(176, 253, 228);
}
.order-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-popup__close-btn {
  border: none;
  background-color: transparent;
  background: url("../../images/icons/close-btn.png");
  background-size: cover;
  width: 13px;
  height: 13px;
}
.order-popup__title {
  margin-top: 16px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.order-popup__confirm-btn {
  margin-top: 32px;
  padding: 12px 0;
  width: 100%;
  border: none;
  background-color: #B0FDE4;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price {
  font-family: "Montserrat";
  margin-top: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}
.price__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}
.price__period {
  padding: 6px 14px;
  background-color: #B0FDE4;
  border-radius: 30px;
}
.price__additionals {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.price__additional {
  font-size: 14px;
  line-height: 17px;
}
.price__additional > h3 {
  margin-bottom: 4px;
  color: rgb(84, 84, 84);
  font-weight: 700;
}
.price__additional > p {
  font-weight: 400;
}

.purchase__container {
  padding: 0 24px;
}
.purchase__sale-timer {
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(245, 245, 246);
  text-align: center;
  line-height: 24px;
  border-radius: 1000px;
}
.purchase__sale-timer span {
  color: #B15FFF;
  font-weight: 600;
}
.purchase__new-cost {
  margin-top: 12px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.purchase__old-cost {
  display: flex;
  column-gap: 4px;
}
.purchase__old-cost > :first-child {
  position: relative;
  line-height: 24px;
}
.purchase__old-cost > :first-child:before {
  content: "";
  position: absolute;
  top: 37%;
  left: 0;
  width: 50px;
  height: 7px;
  background: url("../../images/icons/strikethrough.png") no-repeat;
  background-size: cover;
}
.purchase__old-cost > :last-child {
  line-height: 24px;
  color: rgb(255, 64, 83);
}
.purchase__title {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.purchase__title > * {
  text-align: center;
}
.purchase__buy-btn {
  margin-top: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  background-color: #B0FDE4;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 8px;
}
.purchase__buy-btn:hover {
  opacity: 0.7;
}
.purchase__delivery {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(113, 114, 113);
}

.shipping {
  margin-top: 36px;
}
.shipping__container {
  padding: 0 24px;
}
.shipping__title {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.shipping__dropdown-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background: url("../../images/icons/arrow-dropdown.png");
  background-size: cover;
  background-position: center center;
  transition: transform ease 0.5s;
}
.shipping__delivers {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.shipping__delivers > * {
  display: block;
  max-height: 23px;
}
.shipping__description {
  margin-top: 8px;
  color: #6B6B6B;
  line-height: 22px;
  text-align: left;
}

.footer {
  margin-top: 40px;
  background-color: rgb(28, 28, 28);
  color: #fff;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
}
.footer__container {
  padding: 16px 24px;
}
.footer__full-body {
  display: none;
  opacity: 0.5;
}
.footer__short-body {
  opacity: 0.5;
}
.footer__change-visible-btn {
  margin-top: 8px;
  padding: 6px 18px;
  opacity: 0.5;
  border: none;
  border-radius: 100px;
  font-size: 8px;
  line-height: 12px;
}/*# sourceMappingURL=index.css.map */