.container {
  margin: 0 auto;
  max-width: 600px;
}

.show-block {
  display: block !important;
}
.hide-block {
  display: none !important;
}
.rotate {
  transform: rotate(180deg);
}

button {
  transition: opacity ease .5s;
  &:hover {
    opacity: .3;
  }
}