.container {
  margin: 0 auto;
  max-width: 600px;
}

.show-block {
  display: block !important;
}
.hide-block {
  display: none !important;
}
.show-popup {
  visibility: visible !important;
  opacity: 1 !important;
}
.rotate {
  transform: rotate(180deg);
}
.body-scroll-fixed {
  overflow: hidden;
}

button {
  transition: opacity ease .5s;
  &:hover {
    opacity: .5;
  }
}