.header {
  background-color: #000;

  &__container {
    margin-top: 24px;
    padding: 12px 20px;
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }

  &__open-nav-btn {
    cursor: pointer;
  }
}

@import './notice';
@import './burger-popup';