.header {
  background-color: #000;

  &__container {
    margin-top: 24px;
    padding: 12px 20px;
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }

  &__open-nav-btn {
    cursor: pointer;
    transition: opacity linear .3s;

    &:hover {
      opacity: .5
    }
  }
}

@import './notice';
@import './burger-popup';