.item-card {
  &__container {
    padding: 24px 24px 0 24px;
  }
  &__title {
    margin-top: 12px;
    color: rgb(31, 31, 31);
    font-weight: 600;
    line-height: 36px;
    font-size: 32px;
    text-align: left;
  }
  &__items-left {
    margin-top: 20px;
  }
  &__description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

@import './items-left';
@import './slider';
@import './order-popup';