.shipping {
  margin-top: 36px;
  &__container {
    padding: 0 24px;
  }
  &__title {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  &__dropdown-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background: url('../../images/icons/arrow-dropdown.png');
    background-size: cover;
    background-position: center center;

    transition: transform ease .5s;
  }
  &__delivers {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    & > * {
      display: block;
      max-height: 23px;
    }
  }
  &__description {
    margin-top: 8px;
    color: #6B6B6B;
    line-height: 22px;
    text-align: left;
  }
}
