.trustpilot {
  &__description {
    margin-top: 3px;
    display: flex;
    column-gap: 2px;
    align-items: center;
    font-size: 8px;
    line-height: 10px;
    font-weight: 500;
    &_bold {
      font-weight: 700;
    }
    & img {
      width: 44px;
      height: 12px;
    }
  }
}
